# Entorno virtual
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos temporales
*.log
*.tmp

# Configuración del sistema
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env
